* {
   margin: 0 0 0 0;
   padding:0 0 0 0;
}
#MainButtons {
  display:flex;
  margin-bottom:1vw;
  border:2px solid red;
}
#MainButtons button {
  flex-basis: 25%;
  padding: 10px;
  border:1px solid grey;
  text-align: center;
}
.pages {
  border: 2px solid cornflowerblue;
  padding:1vw 1vw;
  display: flex;
  flex-direction:column;
  border-radius: 5px;
  font-size: 5vw;
  min-height:80vh;
  display:none;
}
#ListOfFilesNFolders .folder {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.folder p {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  background-color: white;
  border: 6px solid gray;
  border-radius: 5px;
}

.folder p:hover {
  background-color: lightgray;
}

.folder p span:first-child {
  margin-right: 10px;
}

.children {
  display: none;
  padding-left: 20px;
}

.file {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.file p {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
}

.file p:hover {
  background-color: lightgray;
}

.file p span:first-child {
  margin-right: 10px;
}
