* {
   margin: 0 0 0 0;
   padding:0 0 0 0;
}
#MainButtons {
  display:flex;
  margin-bottom:1vw;
  border:2px solid red;
}
#MainButtons button {
  flex-basis: 25%;
  padding: 10px;
  border:1px solid grey;
  text-align: center;
}
.pages {
  border: 2px solid cornflowerblue;
  padding:1vw 1vw;
  display: flex;
  flex-direction:column;
  border-radius: 5px;
  font-size: 5vw;
  min-height:80vh;
  display:none;
}
#ListOfFilesNFolders, #LocalHost, #Terminal {
  border: 6px dashed cornflowerblue;
  margin:0 2vw;
}
.children {
  display:none;
  border: 3px solid green;
  background-color: #fff;
  border-radius: 5px;
  padding-left:4vw;
}
ul div {
   border-radius: 5px;
   display:flex;
   align-items:center;
   justify-content:flex-end;
}
.file-area {
   border: 3px solid green;
   padding:0 2vw;
}
.file-area span:nth-child(1) {
   margin-right:auto;
}
.file-area span:nth-child(2) {
   padding:0 2vw;
}
.folder-area {
  border: 2px solid red;
  padding:0 2vw;
}
.folder-area span:nth-child(1) {
   margin-right:auto;
}
.folder-area span:nth-child(2) {
   padding:0 2vw;
}
.addInput {
  padding:2vw 2vw;
  display:inline-block;
  width:70%;
}
.emoji {
  border:0px solid gold;
  padding:2vw 2vw;
}
.emoji:active {
  background-color: blue;
}
#OpenedFiles {
  border: 6px dashed cornflowerblue;
  margin:0 2vw;
}
#fileNameButtonsDiv {
  background-color:white;
  border:2px solid #ff809f;
  margin-bottom:2vw;
}
.fileNameButton {
  background-color:white;
  border:1px solid gray;
  padding:0.0vw 1vw;
  font-size:4vw;
  margin-right:2vw;
}
.fileContentDiv {
  height:100vh;
  background-color:white;
  border:1px solid gray;
  padding:1vw;
  font-size:2vw;
  border-radius:1vw;
}
